@import url( rep_Asys_Maker.css );
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, arial
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, arial
}


